<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.aldi.shopper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.aldi.shopper.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.aldi.shopper.Newcart"
            android:label="@string/title_activity_newcart" >
        </activity>
        <activity
            android:name="de.aldi.shopper.Activecart"
            android:label="@string/title_activity_activecart" >
        </activity>
        <activity
            android:name="de.aldi.shopper.Options"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="de.aldi.shopper.Noratest"
            android:label="@string/title_activity_noratest" >
        </activity>
        <activity
            android:name="de.aldi.shopper.ManualList"
            android:label="@string/title_activity_manual_list" >
        </activity>
        <activity
            android:name="de.aldi.shopper.GetDataTest"
            android:label="@string/title_activity_get_data_test" >
        </activity>
    </application>

</manifest>